body{
    background:#0d8a39;
    margin:0;
    font-family:Arial;
}

#game{
    display:flex;
    flex-direction:column;
    height:100vh;
    justify-content:space-between;
}

#hand{
    display:flex;
    justify-content:center;
    gap:10px;
    padding:20px;
}

.card{
    width:100px;
    cursor:pointer;
}

.card:hover{
    transform:translateY(-15px);
}
